body {
  background-color: $background-color;
  font-family     : 'Hind', sans-serif;
  font-weight     : 400;
  color           : $ebony-clay;
}

.container {
  max-width: $container-max-width;
}

h2 {
  font-size     : calculateRem(16);
  font-weight   : 400;
  text-transform: uppercase;
  color         : $silver;
}
