body {
  background-color: $background-color;
  font-family     : 'Open Sans', sans-serif;
  font-weight     : 300;
  color           : $ebony-clay;
}

.wrapper {
  max-width: $container-max-width;
  margin   : auto;
}

h2 {
  font-size     : calculateRem(16);
  font-weight   : 400;
  text-transform: uppercase;
  color         : $silver;
  margin        : 0;
}
