// SIZE
// Structure
$container-max-width: 1060px;

// COLORS
// Structure
$background-color   : #FFFFFF;

// COLORS
// Content
$alabaster          : #F8F8F8;
$porcelain          : #EAECEE;
$heather            : #B9C9D1;
$silver             : #BEBEBE;
$scorpion           : #595959;
$ebony-clay         : #354A55;
$picton-blue        : #3EB7EC;
$cornflower-blue    : #699CF1;
