// SIZE
// Structure
$container-max-width: 1200px;

// COLORS
// Structure
$background-color   : #FFFFFF;

// COLORS
// Content
$silver             : #BEBEBE;
$oslo-gray          : #8C969B;
$ebony-clay         : #354A55;
$picton-blue        : #3EB7EC;
$cornflower-blue    : #699CF1;
