.currently {
  background-color: $alabaster;
  margin          : 110px 0 0;
  padding         : 50px;
  border-radius   : 4px;

  h2 {
    margin-bottom: 20px;
  }

  .currently__work {
    padding-left: 20px;
    border-left : 5px solid white;

    p {
      font-size  : calculateRem(18);
      font-weight: 300;
      margin     : 0;
    }

    .since {
      color: $oslo-gray;
    }
  }

  .external {
    position       : relative;
    text-decoration: none;
    color          : $ebony-clay;

    &:visited {
      color: $ebony-clay;
    }

    &::after {
      content      : '';
      position     : absolute;
      left         : 0;
      bottom       : 6px;
      display      : inline-block;
      height       : 2px;
      width        : 100%;
      border-bottom: 1px solid;
      margin-top   : 6px;
    }

    &:hover {
      color : $cornflower-blue;
      cursor: pointer;
    }
  }
}

// RESPONSIVE
@include media-breakpoint-down(sm) {
  .currently {
    .currently__work {
      &:nth-child(1) {
        margin-bottom: 20px;
      }
    }
  }
}

// RESPONSIVE
@include media-breakpoint-down(xs) {
  .currently {
    margin : 75px 0 0;
    padding: 50px 25px;

    h2 {
      margin-bottom: 10px;
    }
  }
}
