.experiences {
  background-color: $alabaster;
  margin          : 10px 0 0;
  padding         : 50px;
  border-radius   : 4px;

  .experiences__list {
    list-style-type: none;
    margin         : 25px 0 0;
    padding        : 0;

    li {
      padding    : 0 0 0 20px;
      margin     : 0 0 20px;
      border-left: 5px solid white;

      &:last-of-type {
        margin: 0;
      }

      .experience__details {
        display    : flex;
        align-items: baseline;
        flex-wrap  : wrap;

        h3 {
          font-size  : calculateRem(18);
          font-weight: 400;
          color      : $ebony-clay;
          margin     : 0 5px 0 0;
        }

        .role {
          font-size  : calculateRem(18);
          font-weight: 300;
          margin     : 0 10px 0 0;
        }

        .description {
          font-size  : calculateRem(18);
          font-weight: 300;
          font-style : italic;
          color      : $oslo-gray;
          margin     : 0;
        }
      }

      .experience__date {
        font-size     : calculateRem(11);
        text-transform: uppercase;
        letter-spacing: 3px;
        margin        : 3px 0 0;
        color         : $oslo-gray;
      }
    }
  }
}

// RESPONSIVE
@include media-breakpoint-down(xs) {
  .experiences {
    padding: 50px 25px;

    .experiences__list {
      margin: 10px 0 0;
    }
  }
}
