footer.index {
  max-width: $container-max-width;
  margin   : 150px auto 230px;
  padding  : 0 50px;

  .footer-mail {
    margin: 0 0 7px;
  }

  .footer-social {
    margin: 0;

    a {
      margin: 0 5px 0 0;

      &:last-child {
        margin: 0;
      }
    }
  }

  .footer-title {
    text-transform: uppercase;
    font-size     : calculateRem(12);
    font-weight   : 400;
    margin        : 0 12px 2px 0;
    color         : $silver;
    letter-spacing: 1px;
  }

  a {
    font-size      : calculateRem(18);
    position       : relative;
    text-decoration: none;
    color          : $ebony-clay;

    &:visited {
      color: $ebony-clay;
    }

    &:hover {
      &::after {
        content      : '';
        position     : absolute;
        left         : 0;
        bottom       : 1px;
        display      : inline-block;
        height       : 2px;
        width        : 100%;
        border-bottom: 1px solid;
        margin-top   : 6px;
      }
    }
  }
}

// RESPONSIVE
@media screen and (max-width: 1024px) {
  footer.index {
    margin : 90px auto 165px;
    padding: 0 30px;

    .footer-title {
      margin: 0 15px 2px 0;
    }

    .footer-social {
      a {
        margin: 0 8px 0 0;
      }
    }
  }
}

// RESPONSIVE
@media screen and (max-width: 768px) {
  footer.index {
    margin : 90px auto 165px;
    padding: 0 25px;

    .footer-title {
      display: block;
      margin : 0 15px 5px 0;
    }

    .footer-mail {
      margin: 0 0 35px;
    }

    .footer-social {
      a {
        margin: 0 15px 0 0;
      }
    }
  }
}

// RESPONSIVE
@media screen and (max-width: 500px) {
  footer.index {
    .footer-social {
      a {
        line-height: calculateRem(35);
      }
    }
  }
}

// RESPONSIVE
@media screen and (max-width: 375px) {
  footer.index {
    margin: 35px auto 90px;
  }
}
