footer.index {
  max-width: $container-max-width;
  margin   : 150px auto 230px;
  padding  : 0 50px;

  .footer-mail {
    margin: 0 0 7px;
  }

  .footer-social {
    margin: 0;

    a {
      margin: 0 5px 0 0;

      &:last-child {
        margin: 0;
      }
    }
  }

  .footer-title {
    text-transform: uppercase;
    font-size     : calculateRem(12);
    font-weight   : 300;
    margin        : 0 12px 2px 0;
    color         : $silver;
    letter-spacing: 1px;
  }

  a {
    font-size      : calculateRem(18);
    position       : relative;
    text-decoration: none;
    color          : $ebony-clay;

    &:visited {
      color: $ebony-clay;
    }

    &:hover {
      &::after {
        content      : '';
        position     : absolute;
        left         : 0;
        bottom       : 1px;
        display      : inline-block;
        height       : 2px;
        width        : 100%;
        border-bottom: 1px solid;
        margin-top   : 6px;
      }
    }
  }
}
