header.introduction {
  max-width: $container-max-width;
  margin   : 230px auto auto;
  padding  : 0 50px;

  h1 {
    margin     : 0;
    font-weight: 300;
    font-size  : calculateRem(32);
    line-height: calculateRem(45);

    br {
      display: none;
    }
  }

  .working {
    margin     : 0 0 0 -5px;
    font-weight: 300;
    font-size  : calculateRem(32);
    line-height: calculateRem(45);

    .working-link {
      position       : relative;
      text-decoration: none;

      &:nth-child(1) {
        color: $picton-blue;

        &:visited {
          color: $picton-blue;
        }
      }

      &:nth-child(2) {
        color: $cornflower-blue;

        &:visited {
          color: $cornflower-blue;
        }
      }

      &:hover {
        cursor: pointer;

        &::after {
          content      : '';
          position     : absolute;
          left         : 0;
          bottom       : 2px;
          display      : inline-block;
          height       : 2px;
          width        : 100%;
          border-bottom: 1px solid;
          margin-top   : 6px;
        }
      }
    }
  }
}

// RESPONSIVE
@media screen and (max-width: 1024px) {
  header.introduction {
    margin : 165px auto auto;
    padding: 0 30px;

    h1 {
      font-size  : calculateRem(28);
      line-height: calculateRem(41);
    }

    .working {
      font-size  : calculateRem(28);
      line-height: calculateRem(41);
    }
  }
}

// RESPONSIVE
@media screen and (max-width: 768px) {
  header.introduction {
    margin : 100px 0 0;
    padding: 0 25px;

    h1 {
      font-size  : calculateRem(24);
      line-height: calculateRem(37);
    }

    .working {
      font-size  : calculateRem(24);
      line-height: calculateRem(37);
    }
  }
}

// RESPONSIVE
@media screen and (max-width: 500px) {
  header.introduction {
    h1 {
      margin: 100px 0 25px;

      br {
        display: block;
      }
    }
  }
}

// RESPONSIVE
@media screen and (max-width: 375px) {
  header.introduction {
    margin : 50px 0 0;
    padding: 0 25px;

    h1 {
      margin     : 0 0 10px;
      font-size  : calculateRem(20);
      line-height: calculateRem(33);
    }

    .working {
      font-size  : calculateRem(20);
      line-height: calculateRem(33);
    }
  }
}
