.works-galery {
  width    : calc(100% - 100px);
  max-width: 1600px;
  margin   : 150px auto 0;
  padding  : 0 50px;
  display  : flex;
  flex-wrap: wrap;

  .works-galery__item {
    position     : relative;
    width        : calc(50% - 1px);
    height       : 500px;
    border-radius: 4px;

    &:nth-child(2n) {
      margin-left: 2px;
    }

    &:nth-child(n+3) {
      margin-top: 2px;
    }
  }

  .works-galery__galery {
    display: none;
  }

  .weborama-background {
    background         : url('../img/weborama/pres-weborama.png');
    background-size    : cover;
    background-position: center;
  }

  .lipi-background {
    background         : url('../img/lipi/pres-lipi.png');
    background-size    : cover;
    background-position: center;
  }

  .food-background {
    background         : url('../img/food/pres-food.png');
    background-size    : cover;
    background-position: center;
  }

  .pidc-background {
    background         : url('../img/pidc/pres-pidc.png');
    background-size    : cover;
    background-position: center;
  }

  .works-galery__popup {
    display        : flex;
    align-items    : center;
    justify-content: center;
    position       : absolute;
    top            : 0;
    left           : 0;
    width          : 100%;
    height         : 100%;
    opacity        : 0;
    text-align     : left;
    transition     : opacity .3s;

    .works-galery__popup-background {
      position        : absolute;
      width           : 100%;
      height          : 100%;
      background-color: black;
      border-radius   : 4px;
      opacity         : .9;
    }

    .works-galery__popup-infos {
      position: absolute;
      width   : 100%;

      .popup__item-desc {
        padding  : 0 25px;
        max-width: 350px;
        margin   : auto;

        h2 {
          margin        : 0 0 14px;
          color         : white;
          text-transform: uppercase;
          font-size     : calculateRem(16);
          font-weight   : 600;
          letter-spacing: 3px;
        }

        .popup__desc {
          margin     : 0;
          color      : $oslo-gray;
          font-size  : calculateRem(16);
          font-weight: 400;
        }

        .popup__desc-small {
          margin        : 3px 0 0;
          color         : $oslo-gray;
          font-size     : calculateRem(12);
          font-weight   : 400;
          text-transform: uppercase;
          letter-spacing: 1px;
        }
      }
    }

    &:hover {
      opacity: 1;
      cursor : pointer;
    }
  }
}

// RESPONSIVE
@media screen and (max-width: 1024px) {
  .works-galery {
    width  : calc(100% - 60px);
    padding: 0 30px;
    margin : 90px auto 0;
  }
}

// RESPONSIVE
@media screen and (max-width: 768px) {
  .works-galery {
    width  : calc(100% - 50px);
    padding: 0 25px;
    margin : 70px auto 0;

    .works-galery__item {
      width : 100%;
      height: 500px;
      margin: 0 0 2px;

      &:nth-child(2n) {
        margin-left: 0;
      }

      &:nth-child(n+3) {
        margin-top: 0;
      }
    }

    .works-galery__popup {
      &:hover {
        opacity: 0;
      }
    }
  }
}

// RESPONSIVE
@media screen and (max-width: 500px) {
  .works-galery {
    width  : calc(100% - 30px);
    padding: 0 15px;

    .works-galery__item {
      height: 300px;
    }
  }
}

// RESPONSIVE
@media screen and (max-width: 375px) {
  .works-galery {
    width  : calc(100% - 20px);
    padding: 0 10px;
    margin : 35px auto 0;
  }
}
