@media (min-width: 576px) {
  body {
    font-size: 1.6rem;
  }

  .wrapper {
    margin-top: 100px;
  }

  //

  h1 {
    font-weight: 400;
    font-size: 1.6rem;
  }

  .currently-text {
    margin-top: 80px;
  }

  .activity-text {
    margin-top: 40px;
  }

  .email-text {
    margin-top: 60px;

  }

  .social-networks-text {
    margin-top: 60px;

  }

  .smiley-text {
    margin-top: 80px;
    margin-bottom: 120px;
  }
}
