body {
  color: black;
  font-size: 1.2rem;
}

.wrapper {
  margin-top: 60px;
}

//

h1 {
  font-weight: 400;
  font-size: 1.2rem;
}

.currently-text {
  margin-top: 40px;

  a {
    color: #FF7275;
    position: relative;

    &:before {
      display: block;
      content: ' ';
      background-image: url('../img/underline-diatly-link-red.svg');
      background-size: 100% 100%;
      background-position: 0 0;
      background-repeat: no-repeat;
      position: absolute;
      z-index: 2;
      width: 40px;
      height: 5px;
      left: -2px;
      bottom: -4px;
      transition: bottom .2s;
    }

    &:visited {
      color: #FF7275;
    }

    &:focus {
      text-decoration: none;
      color: black;
      outline: none;

      &:before {
        background-image: url('../img/underline-diatly-link-black.svg');
        bottom: -12px;
      }
    }

    &:hover {
      text-decoration: none;
      color: #000000;
      
      &:before {
        background-image: url('../img/underline-diatly-link-black.svg');
        bottom: -7px;
      }
    }

  }

  br {
    display: none;
  }
}

.activity-text {
  margin-top: 20px;
  
  br {
    display: none;
  }
}

.email-text {
  margin-top: 40px;

  a {
    color: black;
    outline: none;

    &:visited, &:hover {
      color: black;
    }

    &:focus {
      text-decoration: underline;
    }
  }
}

.social-networks-text {
  margin-top: 40px;

  a {
    color: black;
    outline: none;

    &:visited, &:hover {
      color: black;
    }

    &:focus {
      text-decoration: underline;
    }
  }
}

.smiley-text {
  margin-top: 60px;
  margin-bottom: 100px;
}